table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

td, th {
    border: 1px solid gray;
    padding: 1px;
    text-align: left;
    font-family: Calibri, Arial, sans-serif;
    Font-size: 11.5px;
}

tr:nth-child(even) {
    background-color: #ededed; /* Light gray for alternate rows */
}

td {
    white-space: pre-wrap; /* Apply text wrap function */
}

.bold {
    font-weight: bold; /* Bold text class */
}

Div instructions{
     Margin-right: 45%;
}
